__pycache__/
/bin/☾

/Extra/wasm_stuff.zip
/Extra/cpy_wasm_cache/*

/Libraries/Glypher/FontPatcher/
/Libraries/Glypher/JuliaMono/
/Libraries/Glypher/PuaMaps/Old/*
!/Libraries/Glypher/PuaMaps/Old/.keep
/Libraries/Glypher/Output/*
!/Libraries/Glypher/Output/moonfont_A.ttf
!/Libraries/Glypher/Output/moonfont_B.ttf
!/Libraries/Glypher/Output/.XCompose
!/Libraries/Glypher/Output/multi.json
!/Libraries/Glypher/Output/style.json
!/Libraries/Glypher/Output/style_regex.json

/Libraries/peggle3/build/