* {
    box-sizing: border-box;
}
button,input,span {
    transition: all 0.1s ease-in-out;
}
html {
    color: #FFFFFF;
    background-color: #000000;
}
body {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.box {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 1em;
}
.box>* {
    margin: 0.25em;
}
button, input {
    padding: 0px;
    margin: 0px;
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
}
button {
    border: unset;
}
button:hover {
    cursor: pointer;
    background-color: #DDDDDD33;
}
button:active {
    background-color: #EEEEEE33;
}
.boxInput {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 0px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.boxInput * {
    font-size: 24px;
}
.boxInput>:first-child {
    𝚙𝚕: 2px;
    𝚙𝚛: 2px𝚋𝚛↖ 4px𝚋𝚛↙ 4px;
}
.boxInput>:last-child {
    𝚙𝚕: 2px;
    𝚙𝚛: 2px𝚋𝚛↙ 4px𝚋𝚛↘ 4px;
}
.boxInput:focus-within {
    background-color: #111111;
    border: 1px solid #FFFFFF;
}
.boxInput:has(input:invalid) {
    border: 1px solid #f00;
}
::backdrop {
    background-color: #00000080;
    backdrop-filter: blur(5px);
}
dialog:open {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 400px;
    height: 66.665%;
    min-height: 650px;
    padding: 30px;
    color: #FFFFFF;
    background-color: #000000DD;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: #FFFFFF33 0px 0px 20px 0px;
}
.dialogCloseBtn {
    position: absolute;
    right: 0.333em;
    top: 0px;
    color: #BBBBBB;
    font-size: 35px;
}
.dialogCloseBtn:hover {
    color: #DDDDDD;
    background: none;
}
.dialogCloseBtn:active {
    color: #EEEEEE;
    background: none;
}